<div class="row">
  <div class="col-12">
    <img
    src={{data.imagePath}}
    alt={{data.name}}
    class="img-fluid "
    style="width: 400px;">

  </div>
</div>
<div class="row">
   <div class="col-12">
    <h3>{{data.name}}</h3>
   </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Receiving an  Aquatic Food
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Add Received Qty</a></li>
        <li><a class="dropdown-item" href="#">Edit Received Qty</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
   {{data.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
   Aquatic Food Received  Qty  & On Hands
  </div>
</div>
