<div class="row">
  <div class="col-12">
    <img
    src="https://www.kasethub.co.th/pic/bigpic/2966b237f087e4b9e4d08014a6d96681.jpg"
    class="img-fluid"
    style="max-width:350px;">
  </div>
</div>
<div class="row">
   <div class="col-12">
    <h3>Aquatic</h3>
   </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Receiving an  Aquatic Food
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Add Received Qty</a></li>
        <li><a class="dropdown-item" href="#">Edit Received Qty</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
   Description
  </div>
</div>
<div class="row">
  <div class="col-12">
   Aquatic Food Received  Qty  & On Hands
  </div>
</div>
